<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>    <!-- this has to load first EVERY TIME -->
    <!-- Compiled and minified CSS -->    <!-- MATERIALIZE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>

<!-- Custom CSS -->
<!-- <link rel="stylesheet" href="styles/styles.css"> -->

<!-- link to custom stylesheet (always require **after** Materialize) -->
    <link rel="stylesheet" href="styles/style.css" media="screen" title="no">
    <title>express-routes-training</title>
  </head>
  <body class= "form">
    <form id="guess-number-form">
      <input id="guess-num" name="number" placeholder="guess a number" type="text" />
      <input type="submit" />
    </form>
  </body>
</html>
